:host {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  padding: 1.5rem;
  overflow: hidden;
  height: 100%;
}

:host:hover .card-content,
:host:focus-within .card-content {
  transform: translateY(0);
}

.image-container {
  width: 100%;
  height: 125px;
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  margin-bottom: 0.5rem;
}

@media (hover) {
  .card-content {
    transform: translateY(49%);
    transition: transform 500ms ease;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-header h2 {
  font-size: var(--font-size-regular-desktop);
  margin-bottom: 0.5rem;
}

.tag-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: var(--main-color);
  color: var(--text-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.25rem;
}

.card-body {
  height: 40vh;
}

.card-links {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
}

.icon-links {
  width: 3rem;
  user-select: none;
}
