<div
  class="image-container"
  [style.background-image]="'url(' + src() + ')'"
></div>
<div class="card-content">
  <div class="card-header">
    <h2>{{ title() }}</h2>
    <ul class="tag-list">
      @for (tag of tags(); track $index) {
        <li class="tag">{{ tag }}</li>
      }
    </ul>
  </div>
  <div class="card-body">
    <ng-container *ngTemplateOutlet="cardBody!" />
  </div>
  <div class="card-links">
    <a [href]="websiteLink()" target="_blank">
      <img
        class="icon-links"
        src="assets/images/icons/link.svg"
        alt="Link logo"
        [ngStyle]="{
          filter:
            (ts.isDarkMode$ | async)
              ? 'invert(100%) grayscale(100%)'
              : 'grayscale(100%)'
        }"
    /></a>
    <a [href]="githubLink()" target="_blank">
      <img
        class="icon-links"
        src="{{
          (ts.isDarkMode$ | async)
            ? 'assets/images/icons/github-light.svg'
            : 'assets/images/icons/github-dark.svg'
        }}"
        alt="GitHub logo"
    /></a>
  </div>
</div>
