@import url(../../../app.component.scss);

.card {
  position: relative;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  height: 100%;
}

img {
  width: 50%;
}

.card-links {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}