:host {
  position: relative;
  width: var(--image-width-desktop);
  height: var(--image-height-desktop);
  border-radius: 1rem;
  overflow: hidden;
}

img {
  object-fit: cover;
}

@media (max-width: 500px) {
  :host {
    width: var(--image-width-small-mobile);
    height: var(--image-height-small-mobile);
  }
}
