form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

form input,
form textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

form input::placeholder,
form textarea::placeholder {
  color: var(--text-color);
}

form textarea {
  resize: none;
}

form textarea::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

form button {
  grid-column: span 1;
  width: 50%;
  padding: 1rem;
  font-size: 1.2rem;
}

form button:disabled {
  transform: none;
  background-color: var(--secondary-color);
  cursor: not-allowed;
}

.form-item-container {
  position: relative;
}

.form-item-container:nth-child(1) {
  grid-column: span 1;
}

.form-item-container:nth-child(2) {
  grid-column: span 1;
}

.form-item-container:nth-child(3) {
  grid-column: span 2;
}

.form-item-container:nth-child(4) {
  grid-column: span 2;
}

.form-item-container:nth-child(5) {
  grid-column: span 2;
}

.error-tooltip {
  position: absolute;
  bottom: calc(100% + 0.5rem);
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(255, 0, 0, 0.8);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: var(--font-size-tooltip-desktop);
  z-index: 1;
  align-items: flex-start;
  user-select: none;
}

@media (max-width: 991px) {
  .form-item-container:nth-child(1) {
    grid-column: span 2;
  }

  .form-item-container:nth-child(2) {
    grid-column: span 2;
  }
}
