<ng-container *ngIf="contactForm.valueChanges | async"/>
<form [formGroup]="contactForm" (ngSubmit)="submitForm.emit(contactForm)">
  <div class="form-item-container">
    <input type="text" formControlName="name" placeholder="Name" />
    <div
      class="error-tooltip"
      *ngIf="
        contactForm.get('name')?.invalid && contactForm.get('name')?.touched
      "
    >
      <div *ngIf="contactForm.get('name')?.hasError('required')">
        Name is required.
      </div>
    </div>
  </div>
  <div class="form-item-container">
    <input type="email" formControlName="email" placeholder="Email" />
    <div
      class="error-tooltip"
      *ngIf="
        contactForm.get('email')?.invalid && contactForm.get('email')?.touched
      "
    >
      <div *ngIf="contactForm.get('email')?.hasError('required')">
        Email is required.
      </div>
      <div *ngIf="contactForm.get('email')?.hasError('email')">
        Invalid email format.
      </div>
    </div>
  </div>
  <div class="form-item-container">
    <input type="text" formControlName="subject" placeholder="Subject" />
  </div>
  <div class="form-item-container">
    <textarea
      formControlName="message"
      rows="8"
      placeholder="Message"
    ></textarea>
    <div
      class="error-tooltip"
      *ngIf="
        contactForm.get('message')?.invalid &&
        contactForm.get('message')?.touched
      "
    >
      <div *ngIf="contactForm.get('message')?.hasError('required')">
        Message is required.
      </div>
    </div>
  </div>
  <div class="form-item-container">
    <button
      class="btn btn-effect"
      type="submit"
      [disabled]="contactForm.invalid || (cs.submitLoading$ | async)"
    >
      Submit
    </button>
  </div>
</form>
