:host {
  display: flex;
  gap: 2rem;
  overflow-x: hidden;
}

:host > *:nth-child(1) {
  flex: 1 1 30%;
}

:host > *:nth-child(2) {
  flex: 1 1 70%;
}

:host p {
  padding-top: 0.5rem;
}

@media (max-width: 768px) {
  :host {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  :host > *:nth-child(1),
  :host > *:nth-child(2) {
    flex: none;
  }
}
