<section #section class="about" id="about">
  <div
    #aboutImg
    class="about-img hidden from-left"
    [style.background-image]="
      isDarkMode() ? 'url(assets/images/backgrounds/about-night.webp)' : 'url(assets/images/backgrounds/about-day.webp)'
    "
    z
    [@blurAnimation]="blurAnimationState"
  ></div>
  <div class="hidden from-right">
    <h3>About Me</h3>
    <p>
      Driven by my passion for software engineering, I excel in critical
      thinking and thrive in collaborative environments. My adaptability
      empowers me to embrace new challenges confidently, while my dedication to
      lifelong learning fuels my ambition to create exceptional and innovative
      software solutions.
    </p>
    <div class="tab-container">
      <app-tabs [tabsList]="tabs" (onTabChange)="tabChange($event)"></app-tabs>
      <div [ngStyle]="{ display: activatedTab === 'Skills' ? 'block' : 'none'}" highlightText>
        <ul class="skills-content tab-content">
          <li class="skills-item">Front-End:</li>
          <li class="skills-item">
            <span class="tooltip" appTooltip="HTML">
              <img
                class="icon"
                src="assets/images/icons/html.svg"
                alt="HTML Logo"
                loading="lazy"
              />
            </span>
            <span class="tooltip" appTooltip="CSS">
              <img
                class="icon"
                src="assets/images/icons/css.svg"
                alt="CSS Logo"
                loading="lazy"
              />
            </span>
            <span class="tooltip" appTooltip="JavaScript">
              <img
                class="icon"
                src="assets/images/icons/javascript.svg"
                alt="JavaScript Logo"
                loading="lazy"
            /></span>
            <span class="tooltip" appTooltip="Angular">
              <img
                class="icon"
                src="assets/images/icons/angular.svg"
                alt="Angular Logo"
                loading="lazy"
            /></span>
            <span class="tooltip" appTooltip="TypeScript">
              <img
                class="icon"
                src="assets/images/icons/typescript.svg"
                alt="TypeScript Logo"
                loading="lazy"
            /></span>
            <span class="tooltip" appTooltip="SASS">
              <img
                class="icon"
                src="assets/images/icons/sass.svg"
                alt="SASS Logo"
                loading="lazy"
            /></span>
          </li>
          <li class="skills-item">Back-End:</li>
          <li class="skills-item">
            <span class="tooltip" appTooltip="MongoDB">
              <img
                class="icon"
                src="assets/images/icons/mongodb.svg"
                alt="MongoDB Logo"
                loading="lazy"
            /></span>
            <span class="tooltip" appTooltip="Express.js">
              <img
                class="icon"
                src="assets/images/icons/express-js.svg"
                alt="Express.js Logo"
                loading="lazy"
                [ngStyle]="{
                  filter: isDarkMode()
                    ? 'invert(100%) grayscale(100%)'
                    : 'grayscale(100%)'
                }"
            /></span>
            <span class="tooltip" appTooltip="Node.js">
              <img
                class="icon"
                src="assets/images/icons/node-js.svg"
                alt="Node.js Logo"
                loading="lazy"
            /></span>
            <span class="tooltip" appTooltip="Laravel">
              <img
                class="icon"
                src="assets/images/icons/laravel.svg"
                alt="Laravel Logo"
                loading="lazy"
            /></span>
            <span class="tooltip" appTooltip="Lumen">
              <img
                class="icon"
                src="assets/images/icons/lumen.svg"
                alt="Lumen Logo"
                loading="lazy"
            /></span>
            <span class="tooltip" appTooltip="Python">
              <img
                class="icon"
                src="assets/images/icons/python.svg"
                alt="Python Logo"
                loading="lazy"
            /></span>
          </li>
          <li class="skills-item">Tools:</li>
          <li class="skills-item">
            <span class="tooltip" appTooltip="Git">
              <img
                class="icon"
                src="assets/images/icons/git.svg"
                alt="Git logo"
                loading="lazy"
            /></span>
            <span class="tooltip" appTooltip="GitHub">
              <img
                class="icon"
                src="{{
                  isDarkMode()
                    ? 'assets/images/icons/github-light.svg'
                    : 'assets/images/icons/github-dark.svg'
                }}"
                alt="GitHub logo"
            /></span>
            <span class="tooltip" appTooltip="Jira">
              <img
                class="icon"
                src="assets/images/icons/jira.svg"
                alt="Jira logo"
                loading="lazy"
            /></span>
            <span class="tooltip" appTooltip="RxJS">
              <img
                class="icon"
                src="assets/images/icons/rxjs.svg"
                alt="RxJS logo"
                loading="lazy"
            /></span>
          </li>
          <li class="skills-item">Technologies:</li>
          <li class="skills-item">
            <span class="tooltip" appTooltip="AWS">
              <img
                class="icon"
                src="{{
                  isDarkMode() ? 'assets/images/icons/aws-light.svg' : 'assets/images/icons/aws-dark.svg'
                }}"
                alt="AWS logo"
                loading="lazy"
            /></span>
            <span class="tooltip" appTooltip="Rest API">
              <img
                class="icon"
                src="assets/images/icons/rest-api.svg"
                alt="Rest API logo"
                loading="lazy"
                [ngStyle]="{
                  filter: isDarkMode()
                    ? 'invert(100%) grayscale(100%)'
                    : 'grayscale(100%)'
                }"
            /></span>
          </li>
        </ul>
      </div>
      <div [ngStyle]="{ display: activatedTab === 'Experience' ? 'block' : 'none'}">
        <ul class="experience-content tab-content">
          <li>
            <span highlightText>2023 Feb - 2023 May</span>
          </li>
          <li>
            <span>Internship at Cloudstaff</span>
            <span class="superscript-container">
              <img
                class="icon icon-size-adjust superscript-icon"
                src="assets/images/icons/open-in-new.svg"
                alt="Open In New Icon"
                (click)="openModal(experienceTemplate)"
                loading="lazy"
                [ngStyle]="{
                  filter: isDarkMode()
                    ? 'invert(100%) grayscale(100%)'
                    : 'grayscale(100%)'
                }"
              />
            </span>
          </li>
        </ul>
      </div>
      <div [ngStyle]="{ display: activatedTab === 'Education' ? 'block' : 'none'}">
        <ul class="education-content tab-content">
          <li><span highlightText>2019 - 2023</span></li>
          <li>
            <span
              >Bachelor of Science in Computer Science at Holy Angel
              University</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<app-modal #modalRef>
  <ng-container *ngTemplateOutlet="modalContent"></ng-container>
</app-modal>
<ng-template #experienceTemplate>
  <div class="experience-modal-content">
    <div class="experience-modal-header">
      <h3>Project Name: SuiteView</h3>
      <span>
        <img
          class="icon icon-size-adjust"
          style="-webkit-tap-highlight-color: transparent"
          src="assets/images/icons/close.svg"
          alt="Close Logo"
          (click)="closeModal()"
          [ngStyle]="{
            filter: isDarkMode()
              ? 'invert(100%) grayscale(100%)'
              : 'grayscale(100%)'
          }"
        />
      </span>
    </div>
    <ul class="experience-modal-body">
      <li class="experience-modal-body-title">Tech-Stack:</li>
      <li>
        <span class="tooltip" appTooltip="Angular">
          <img
            class="icon"
            src="assets/images/icons/angular.svg"
            alt="Angular Logo"
            loading="lazy"
        /></span>
        <span class="tooltip" appTooltip="Laravel">
          <img
            class="icon"
            src="assets/images/icons/laravel.svg"
            alt="Laravel Logo"
            loading="lazy"
        /></span>
        <span class="tooltip" appTooltip="Lumen">
          <img
            class="icon"
            src="assets/images/icons/lumen.svg"
            alt="Lumen Logo"
            loading="lazy"
        /></span>
        <span class="tooltip" appTooltip="AWS S3 Bucket">
          <img
            class="icon"
            src="assets/images/icons/aws-s3-bucket.svg"
            alt="AWS S3 Bucket Logo"
            loading="lazy"
        /></span>
      </li>
      <li class="experience-modal-body-title">Description:</li>
      <li>
        This project involved integrating a CCTV system, that takes a photo
        every minute and uploads it to an AWS S3 Bucket. The back-end, written
        in Laravel Lumen, fetches the data from the S3 Bucket. The front-end,
        written in Angular, gets the data from the back-end via API pull. This
        project was presented to the CEO and became an actual product.
      </li>
      <li class="experience-modal-body-title">Role/s:</li>
      <ul>
        <li>
          Front-End heavy, designing the web app basing from a mock web UI.
        </li>
        <li>Making the web UI responsive, user friendly.</li>
        <li>Connecting the FE to BE via API pull.</li>
      </ul>
    </ul>
  </div>
</ng-template>
