@import "src/app/app.component.scss";

.about {
  display: flex;
  gap: 2rem;
  overflow-x: hidden;
}

.about > *:nth-child(1) {
  flex: 1 1 30%;
}

.about > *:nth-child(2) {
  flex: 1 1 70%;
}

.about-img {
  width: var(--image-width-desktop);
  height: var(--image-height-desktop);
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  object-fit: fill;
}

.about h3 {
  font-size: var(--font-size-big-desktop);
  font-weight: 700;
}

.about p {
  padding-top: 0.5rem;
  font-size: var(--font-size-regular-desktop);
}

.tab-container {
  width: 100%;
  border-radius: 1rem;
}

.tab-content {
  list-style: none;
  font-size: var(--font-size-regular-desktop);
  animation: animateToLeft 0.5s ease;
}

@keyframes animateToLeft {
  0% {
    transform: translateX(2rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.skills-content {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 0.5rem;
  list-style: none;
}

.skills-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.skills-content li span {
  margin-right: 1rem;
}

.experience-modal-content {
  height: 80vh;
  width: 80vw;
  padding: 2rem;
  overflow: auto;
}

.experience-modal-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--secondary-color);
}

.experience-modal-header span img {
  cursor: pointer;
}

.experience-modal-body {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding-top: 2rem;
  gap: 0.5rem;
  font-size: var(--font-size-regular-desktop);
  list-style: none;
}

.experience-modal-body ul {
  list-style: disc;
}

.experience-modal-body li:nth-child(2) span {
  margin-right: 1rem;
}

.experience-modal-content h3 {
  font-size: var(--font-size-big-desktop);
  font-weight: 700;
}

.experience-modal-content p {
  font-size: var(--font-size-regular-desktop);
}

.experience-content,
.education-content {
  display: flex;
  flex-direction: column;
}

.experience-content > * {
  display: flex;
}

@media (max-width: 991px) {
  .about h3,
  .experience-modal-content h3 {
    font-size: var(--font-size-big-tablet);
  }

  .about p,
  .tab-content,
  .experience-modal-body,
  .experience-modal-content p {
    font-size: var(--font-size-regular-tablet);
  }
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about > *:nth-child(1),
  .about > *:nth-child(2) {
    flex: none;
  }

  .about h3,
  .experience-modal-content h3 {
    font-size: var(--font-size-big-mobile);
  }

  .about p,
  .tab-content,
  .experience-modal-body,
  .experience-modal-content p {
    font-size: var(--font-size-regular-mobile);
  }

  .tab-titles {
    justify-content: center;
  }

  .tab-tiles {
    display: flex;
    justify-content: center;
  }

  .skills-content {
    grid-template-columns: 1fr;
  }

  .skills-content li {
    justify-content: center;
  }

  .experience-modal-body {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .about h3,
  .experience-modal-content h3 {
    font-size: var(--font-size-big-small-mobile);
  }

  .about p,
  .tab-content,
  .experience-modal-body,
  .experience-modal-content p {
    font-size: var(--font-size-regular-small-mobile);
  }

  .about-img {
    width: var(--image-width-small-mobile);
    height: var(--image-height-small-mobile);
  }
}
