---
type Props = {
  link: string
  newTab?: boolean
}

const { link, newTab = true } = Astro.props
---

<a
  href={link}
  target={newTab ? '_blank' : '_self'}
  class="flex w-full items-center justify-center gap-2 rounded-full bg-secondary px-4 py-2 text-xs font-bold text-secondary-foreground uppercase transition-all hover:bg-secondary/80 max-md:w-full"
>
  <slot />
</a>
