<nav #navbar class="navbar">
  <h1>Nathan.</h1>
  @if (isMobile()) {
    <div class="navbar-mobile">
      <span
        class="icon-link theme-icon"
        (click)="ts.themeOnClick()"
        (keydown.Enter)="ts.themeOnClick()"
        tabindex="0"
      >
      </span>
      <span
        class="icon-link icon"
        (click)="menuOnClick()"
        (keydown.Enter)="menuOnClick()"
        tabindex="0"
        [ngStyle]="{
          filter:
            (ts.isDarkMode$ | async)
              ? 'invert(100%) grayscale(100%)'
              : 'grayscale(100%)'
        }"
      >
        <img
          id="menu-icon"
          src="{{
            isMenuOpen
              ? 'assets/images/icons/close.svg'
              : 'assets/images/icons/menu.svg'
          }}"
          [alt]="isMenuOpen ? 'Menu Icon' : 'Close Icon'"
      /></span>
    </div>
  }
  <ul [ngStyle]="{ transform: isMenuOpen ? 'translateX(0)' : '' }">
    @for (link of links; track $index) {
      <li>
        <a
          #navLinks
          [href]="'#' + link"
          (click)="closeMenu(); onClick($event)"
          [ngClass]="activeTabIndex() === $index ? 'active' : ''"
        >
          {{ link | upperFirst }}
        </a>
      </li>
    }
    <li>
      <span
        class="icon-link theme-icon"
        (click)="ts.themeOnClick()"
        (keydown.Enter)="ts.themeOnClick()"
        tabindex="0"
      >
      </span>
    </li>
  </ul>
</nav>
