@import "src/app/app.component.scss";

.navbar {
  position: fixed;
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  color: var(--text-color);
  z-index: 2;
}

.navbar::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(3px);
  z-index: -1;
}

.navbar h1 {
  font-size: 2rem;
}

.navbar ul {
  display: flex;
}

.navbar li {
  display: flex;
  list-style: none;
  padding: 0 25px;
}

.navbar li:nth-last-child(2) {
  border-right: 3px solid;
}

.navbar li:last-child {
  padding-right: 0;
}

.navbar li:last-child a {
  border-radius: 50%;
}

.navbar li a {
  text-decoration: none;
  font-size: var(--font-size-regular-desktop);
  color: var(--text-color);
  padding: 0.5rem;
  margin: -0.5rem;
  border-radius: 0.5rem;
}

.navbar li a:hover {
  backdrop-filter: blur(5px);
}

.navbar li a:hover,
.navbar li a.active {
  color: var(--main-color);
}

#menu-icon {
  width: 2rem;
  pointer-events: none;
  user-select: none;
  display: none;
}

.theme-icon-menu {
  display: none;
}

.theme-icon {
  width: 2rem;
  pointer-events: none;
  user-select: none;
}

.icon-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 991px) {
  .navbar {
    padding: 2rem 3%;
  }
  .navbar li a {
    font-size: var(--font-size-regular-tablet);
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .theme-icon-menu {
    display: block;
  }

  .navbar-mobile {
    display: flex;
  }

  .navbar-mobile a {
    margin: 0 10px;
  }

  .navbar-mobile a:last-child {
    margin: 0;
  }

  .navbar {
    background-color: var(--primary-color);
  }

  .navbar ul {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    top: 48px;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .navbar li {
    margin: 2rem 0;
    font-weight: 700;
  }

  .navbar li:hover {
    filter: blur(0);
  }

  .navbar li:nth-last-child(2) {
    border-right: none;
  }

  .navbar li:nth-last-child(2) {
    padding-bottom: 4rem;
  }

  .navbar li:last-child {
    display: none;
  }

  .navbar li a {
    font-size: var(--font-size-regular-mobile);
  }
}

@media (max-width: 500px) {
  .navbar li a {
    font-size: var(--font-size-regular-small-mobile);
  }
}
