:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.heading {
  text-align: center;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}

.container-item {
  width: 100%;
}

@media (max-width: 768px) {
  .projects-container {
    flex-direction: column;
  }
}