:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
}

.heading {
  text-align: center;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 768px) {
  :host {
    grid-template-columns: 1fr;
  }

  .projects-container {
    grid-template-columns: 1fr;
  }
}
