:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.heading {
  text-align: center;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-item {
  width: 100%;
}