<section #section class="contact" id="contact">
  <div class="contact-information hidden from-left">
    <h4>Contact Me</h4>
    <div class="contact-information-item">
      <img
        class="icon icon-size-adjust"
        src="assets/images/icons/email.png"
        alt="Email Icon"
        loading="lazy"
        [ngStyle]="{
          filter: isDarkMode()
            ? 'invert(100%) grayscale(100%)'
            : 'grayscale(100%)'
        }"
      />
      <div class="contact-information-item-copy-area">
        <p id="emailText">vicnathangabrielle@gmail.com</p>
        <span
          class="copy-btn"
          id="emailBtn"
          (click)="copyText('emailText', 'emailBtn')"
        >
          <img
            class="icon icon-size-adjust"
            src="assets/images/icons/copy.png"
            alt="Copy Icon"
            loading="lazy"
            [ngStyle]="{
              filter: isDarkMode()
                ? 'invert(100%) grayscale(100%)'
                : 'grayscale(100%)'
            }"
          />
        </span>
      </div>
    </div>
    <div class="contact-information-item">
      <img
        class="icon icon-size-adjust"
        src="assets/images/icons/phone.png"
        alt="Phone Icon"
        loading="lazy"
        [ngStyle]="{
          filter: isDarkMode()
            ? 'invert(100%) grayscale(100%)'
            : 'grayscale(100%)'
        }"
      />
      <div class="contact-information-item-copy-area">
        <p id="phoneText">+63 965 558 5778</p>
        <span
          class="copy-btn"
          id="phoneBtn"
          (click)="copyText('phoneText', 'phoneBtn')"
        >
          <img
            class="icon icon-size-adjust"
            src="assets/images/icons/copy.png"
            alt="Copy Icon"
            loading="lazy"
            [ngStyle]="{
              filter: isDarkMode()
                ? 'invert(100%) grayscale(100%)'
                : 'grayscale(100%)'
            }"
          />
        </span>
      </div>
    </div>
  </div>
  <div class="contact-form hidden from-right">
    <form
      [formGroup]="contactForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-item-container">
        <input type="text" formControlName="name" placeholder="Name" />
        <div
          class="error-tooltip"
          *ngIf="
            contactForm.get('name')?.invalid && contactForm.get('name')?.touched
          "
        >
          <div *ngIf="contactForm.get('name')?.hasError('required')">
            Name is required.
          </div>
        </div>
      </div>
      <div class="form-item-container">
        <input type="email" formControlName="email" placeholder="Email" />
        <div
          class="error-tooltip"
          *ngIf="
            contactForm.get('email')?.invalid &&
            contactForm.get('email')?.touched
          "
        >
          <div *ngIf="contactForm.get('email')?.hasError('required')">
            Email is required.
          </div>
          <div *ngIf="contactForm.get('email')?.hasError('email')">
            Invalid email format.
          </div>
        </div>
      </div>
      <div class="form-item-container">
        <input type="text" formControlName="subject" placeholder="Subject" />
      </div>
      <div class="form-item-container">
        <textarea
          formControlName="message"
          rows="8"
          placeholder="Message"
        ></textarea>
        <div
          class="error-tooltip"
          *ngIf="
            contactForm.get('message')?.invalid &&
            contactForm.get('message')?.touched
          "
        >
          <div *ngIf="contactForm.get('message')?.hasError('required')">
            Message is required.
          </div>
        </div>
      </div>
      <div class="form-item-container">
        <button
          class="btn btn-effect"
          type="submit"
          [disabled]="contactForm.invalid || submitted"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</section>

<app-modal #modalRef>
  <ng-container *ngTemplateOutlet="modalContent"></ng-container>
</app-modal>

<ng-template #sorryTemplate>
  <div class="submit-modal-content">
    <h5>Sorry.</h5>
    <p>The message was not sent. Please try again next time</p>
    <button class="btn" (click)="closeModal()">Here</button>
  </div>
</ng-template>

<ng-template #thankYouTemplate>
  <div class="submit-modal-content">
    <h5>Thank You!</h5>
    <p>
      The message was sent. Your feedback will help shape me to become a better
      developer. Thanks!
    </p>
    <button class="btn" (click)="closeModal()">Here</button>
  </div>
</ng-template>
