<section #section class="contact" id="contact">
  <div class="contact-information hidden from-left">
    <h4>Contact Me</h4>
    <div class="contact-information-item">
      <img
        class="icon icon-size-adjust"
        src="assets/images/icons/email.svg"
        alt="Email Icon"
        [ngStyle]="{
          filter:
            (ts.isDarkMode$ | async)
              ? 'invert(100%) grayscale(100%)'
              : 'grayscale(100%)'
        }"
      />
      <div class="contact-information-item-copy-area">
        <p id="emailText">vicnathangabrielle@gmail.com</p>
        <span
          class="copy-btn"
          id="emailBtn"
          (click)="copyText('emailText', 'emailBtn')"
        >
          <img
            class="icon icon-size-adjust"
            src="assets/images/icons/copy.svg"
            alt="Copy Icon"
            [ngStyle]="{
              filter:
                (ts.isDarkMode$ | async)
                  ? 'invert(100%) grayscale(100%)'
                  : 'grayscale(100%)'
            }"
          />
        </span>
      </div>
    </div>
    <div class="contact-information-item">
      <img
        class="icon icon-size-adjust"
        src="assets/images/icons/phone.svg"
        alt="Phone Icon"
        [ngStyle]="{
          filter:
            (ts.isDarkMode$ | async)
              ? 'invert(100%) grayscale(100%)'
              : 'grayscale(100%)'
        }"
      />
      <div class="contact-information-item-copy-area">
        <p id="phoneText">+63 965 558 5778</p>
        <span
          class="copy-btn"
          id="phoneBtn"
          (click)="copyText('phoneText', 'phoneBtn')"
        >
          <img
            class="icon icon-size-adjust"
            src="assets/images/icons/copy.svg"
            alt="Copy Icon"
            [ngStyle]="{
              filter:
                (ts.isDarkMode$ | async)
                  ? 'invert(100%) grayscale(100%)'
                  : 'grayscale(100%)'
            }"
          />
        </span>
      </div>
    </div>
  </div>
  <div class="contact-form hidden from-right">
    <app-form (submitForm)="cs.submitForm$.next($event)"></app-form>
  </div>
</section>

<ng-template #sorryTemplate>
  <div class="submit-modal-content">
    <h5>Sorry.</h5>
    <p>The message was not sent. Please try again next time</p>
    <button
      class="btn"
      (click)="ms.close()"
      style="-webkit-tap-highlight-color: transparent"
    >
      OK
    </button>
  </div>
</ng-template>

<ng-template #thankYouTemplate>
  <div class="submit-modal-content">
    <h5>Thank You!</h5>
    <p>
      The message was sent. Your feedback will help shape me to become a better
      developer. Thanks!
    </p>
    <button
      class="btn"
      (click)="ms.close()"
      style="-webkit-tap-highlight-color: transparent"
    >
      Cool!
    </button>
  </div>
</ng-template>
