<div class="contact-information hidden from-left">
  <h4>Contact Me</h4>
  <div class="contact-information-item">
    <img
      class="icon icon-size-adjust"
      src="assets/images/icons/email.svg"
      alt="Email Icon"
      [ngStyle]="{
        filter:
          (ts.isDarkMode$ | async)
            ? 'invert(100%) grayscale(100%)'
            : 'grayscale(100%)'
      }"
    />
    <div class="contact-information-item-copy-area">
      <p id="emailText">{{ email }}</p>
      <app-copy-text [text]="email"></app-copy-text>
    </div>
  </div>
  <div class="contact-information-item">
    <img
      class="icon icon-size-adjust"
      src="assets/images/icons/phone.svg"
      alt="Phone Icon"
      [ngStyle]="{
        filter:
          (ts.isDarkMode$ | async)
            ? 'invert(100%) grayscale(100%)'
            : 'grayscale(100%)'
      }"
    />
    <div class="contact-information-item-copy-area">
      <p id="phoneText">{{ phoneNumber }}</p>
      <app-copy-text [text]="phoneNumber"></app-copy-text>
    </div>
  </div>
</div>
<div class="contact-form hidden from-right">
  <app-form (submitForm)="cs.submitForm$.next($event)" />
</div>

<ng-template #sorryTemplate>
  <app-feedback-fail />
</ng-template>

<ng-template #thankYouTemplate>
  <app-feedback-success />
</ng-template>
