.slider {
  position: relative;
  height: 100%;
}

.leftArrow,
.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 45px;
  color: var(--text-color);
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.rightArrow {
  right: 32px;
}

.leftArrow {
  left: 32px;
}

.slide-container {
  overflow: hidden;
}