.slider {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 45px;
  color: var(--text-color);
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.right-arrow {
  right: 0;
}

.left-arrow {
  left: 0;
}

.slide-container {
  overflow: hidden;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
