@defer {
  <div class="slider">
    <div class="arrows">
      @if (index !== 0) {
        <div
          class="left-arrow"
          (click)="goToPrevious()"
          (keydown.Enter)="goToPrevious()"
          tabindex="0"
        >
          ❰
        </div>
      }
      @if (index !== sliderLength - 1) {
        <div
          class="right-arrow"
          (click)="goToNext()"
          (keydown.Enter)="goToNext()"
          tabindex="0"
        >
          ❱
        </div>
      }
    </div>
    <div class="slide-container">
      <div [@slideAnimation]="index">
        @for (slide of slider(); track i; let i = $index) {
          <ng-container>
            @if (i === index) {
              <ng-container [ngTemplateOutlet]="slide"></ng-container>
            }
          </ng-container>
        }
      </div>
    </div>
  </div>
}
