<nav class="navbar">
  <h1>Nathan.</h1>
  <div class="navbar-mobile">
    <a class="icon-link" (click)="themeOnClick()">
      <img
        class="theme-icon theme-icon-menu"
        id="theme-icon"
        src="{{ isDarkMode ? 'assets/sun.svg' : 'assets/moon.svg' }}"
    /></a>
    <a
      class="icon-link icon"
      (click)="menuOnClick()"
      [ngStyle]="{
        filter: isDarkMode ? 'invert(100%) grayscale(100%)' : 'grayscale(100%)'
      }"
    >
      <img
        id="menu-icon"
        src="{{ this.isMenuOpen ? 'assets/close.png' : 'assets/menu.png' }}"
    /></a>
  </div>
  <ul>
    <li><a href="#home" class="active" (click)="closeMenu()">Home</a></li>
    <li><a href="#about" (click)="closeMenu()">About</a></li>
    <li><a href="#contact" (click)="closeMenu()">Contact</a></li>
    <li>
      <a class="icon-link" (click)="themeOnClick()">
        <img
          class="theme-icon"
          id="theme-icon"
          src="{{ isDarkMode ? 'assets/sun.svg' : 'assets/moon.svg' }}"
        />
      </a>
    </li>
  </ul>
</nav>
<section class="home" id="home">
  <div class="home-content hidden from-left">
    <h2>Hi, I'm Nathan</h2>
    <h2 class="type-effect-text">
      And I'm a
      <span class="highlight-text"
        ><h2 class="type-effect-text" id="type-effect"></h2
      ></span>
    </h2>
    <p>
      Driven problem-solver dedicated to delivering high-quality software
      solutions.
    </p>
    <a href="assets/resume.pdf" class="btn btn-effect" download
      >Download Résumé</a
    >
  </div>
  <div class="home-img hidden from-right"></div>
</section>
<section class="about" id="about">
  <div
    class="about-img hidden from-left"
    [style.background-image]="
      isDarkMode ? 'url(assets/about-night.png)' : 'url(assets/about-day.png)'
    "
  ></div>
  <div class="hidden from-right">
    <h3>About Me</h3>
    <p>
      Driven by my passion for software engineering, I excel in critical
      thinking and thrive in collaborative environments. My adaptability
      empowers me to embrace new challenges confidently, while my dedication to
      lifelong learning fuels my ambition to create exceptional and innovative
      software solutions.
    </p>
    <div class="tab-container">
      <ul class="tab-titles">
        <li class="tab-links active"><p>Skills</p></li>
        <li class="tab-links"><p>Experience</p></li>
        <li class="tab-links"><p>Education</p></li>
        <div class="tab-line"></div>
      </ul>
      <div class="tab-content highlight-text active">
        <ul class="skills-content content">
          <li class="skills-item">Front-End:</li>
          <li class="skills-item">
            <span class="tooltip" appTooltip="HTML">
              <img
                class="icon"
                src="assets/html.svg"
                alt="HTML Logo"
                loading="lazy"
              />
            </span>
            <span class="tooltip" appTooltip="CSS">
              <img
                class="icon"
                src="assets/css.svg"
                alt="CSS Logo"
                loading="lazy"
              />
            </span>
            <span class="tooltip" appTooltip="JavaScript">
              <img
                class="icon"
                src="assets/javascript.svg"
                alt="JavaScript Logo"
                loading="lazy"
              /></span
            >
            <span class="tooltip" appTooltip="Angular">
              <img
                class="icon"
                src="assets/angular.svg"
                alt="Angular Logo"
                loading="lazy"
              /></span
            >
            <span class="tooltip" appTooltip="TypeScript">
              <img
                class="icon"
                src="assets/typescript.svg"
                alt="TypeScript Logo"
                loading="lazy"
              /></span
            >
            <span class="tooltip" appTooltip="SASS">
              <img
                class="icon"
                src="assets/sass.svg"
                alt="SASS Logo"
                loading="lazy"
              /></span
            >
          </li>
          <li class="skills-item">Back-End:</li>
          <li class="skills-item">
            <span class="tooltip" appTooltip="Laravel">
              <img
                class="icon"
                src="assets/laravel.svg"
                alt="Laravel Logo"
                loading="lazy"
              /></span
            >
            <span class="tooltip" appTooltip="Lumen">
              <img
                class="icon"
                src="assets/lumen.svg"
                alt="Lumen Logo"
                loading="lazy"
              /></span
            >
            <span class="tooltip" appTooltip="Python">
              <img
                class="icon"
                src="assets/python.svg"
                alt="Python Logo"
                loading="lazy"
              /></span
            >
          </li>
          <li class="skills-item">Tools:</li>
          <li class="skills-item">
            <span class="tooltip" appTooltip="Git">
              <img
                class="icon"
                src="assets/git.svg"
                alt="Git logo"
                loading="lazy"
              /></span
            >
            <span class="tooltip" appTooltip="GitHub">
              <img
                class="icon"
                src="{{
                  isDarkMode
                    ? 'assets/github-light.svg'
                    : 'assets/github-dark.svg'
                }}"
                alt="GitHub logo"
              /></span
            >
            <span class="tooltip" appTooltip="Jira">
              <img
                class="icon"
                src="assets/jira.svg"
                alt="Jira logo"
                loading="lazy"
              /></span
            >
          </li>
          <li class="skills-item">Technologies:</li>
          <li class="skills-item">
            <span class="tooltip" appTooltip="AWS">
              <img
                class="icon"
                src="{{
                  isDarkMode ? 'assets/aws-light.svg' : 'assets/aws-dark.svg'
                }}"
                alt="AWS logo"
                loading="lazy"
              /></span
            >
            <span class="tooltip" appTooltip="API">
              <img
                class="icon"
                src="assets/api.svg"
                alt="API logo"
                loading="lazy"
              /></span
            >
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <ul class="experience-content content">
          <li>
            <span class="highlight-text">2023 Feb - 2023 May</span>
          </li>
          <li>
            <span>Internship at Cloudstaff</span>
            <span class="superscript-container">
              <img
                class="icon icon-size-adjust superscript-icon"
                src="assets/open-in-new.png"
                alt="Open In New Icon"
                (click)="openModal(experienceTemplate)"
                loading="lazy"
                [ngStyle]="{
                  filter: isDarkMode
                    ? 'invert(100%) grayscale(100%)'
                    : 'grayscale(100%)'
                }"
              />
            </span>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <ul class="education-content content">
          <li><span class="highlight-text">2019 - 2023</span></li>
          <li>
            <span
              >Bachelor of Science in Computer Science at Holy Angel
              University</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="contact" id="contact">
  <div class="contact-information hidden from-left">
    <h4>Contact Me</h4>
    <div class="contact-information-item">
      <img
        class="icon icon-size-adjust"
        src="assets/email.png"
        alt="Email Icon"
        loading="lazy"
        [ngStyle]="{
          filter: isDarkMode
            ? 'invert(100%) grayscale(100%)'
            : 'grayscale(100%)'
        }"
      />
      <div class="contact-information-item-copy-area">
        <p id="emailText">vicnathangabrielle@gmail.com</p>
        <span
          class="copy-btn"
          id="emailBtn"
          (click)="copyText('emailText', 'emailBtn')"
        >
          <img
            class="icon icon-size-adjust"
            src="assets/copy.png"
            alt="Copy Icon"
            loading="lazy"
            [ngStyle]="{
              filter: isDarkMode
                ? 'invert(100%) grayscale(100%)'
                : 'grayscale(100%)'
            }"
          />
        </span>
      </div>
    </div>
    <div class="contact-information-item">
      <img
        class="icon icon-size-adjust"
        src="assets/phone.png"
        alt="Phone Icon"
        loading="lazy"
        [ngStyle]="{
          filter: isDarkMode
            ? 'invert(100%) grayscale(100%)'
            : 'grayscale(100%)'
        }"
      />
      <div class="contact-information-item-copy-area">
        <p id="phoneText">+63 965 558 5778</p>
        <span
          class="copy-btn"
          id="phoneBtn"
          (click)="copyText('phoneText', 'phoneBtn')"
        >
          <img
            class="icon icon-size-adjust"
            src="assets/copy.png"
            alt="Copy Icon"
            loading="lazy"
            [ngStyle]="{
              filter: isDarkMode
                ? 'invert(100%) grayscale(100%)'
                : 'grayscale(100%)'
            }"
          />
        </span>
      </div>
    </div>
  </div>
  <div class="contact-form hidden from-right">
    <form
      [formGroup]="contactForm"
      (ngSubmit)="onSubmit()"
      name="submit-to-google-sheet"
    >
      <div class="form-item-container">
        <input type="text" formControlName="name" placeholder="Name" />
        <div
          class="error-tooltip"
          *ngIf="
            contactForm.get('name')?.invalid && contactForm.get('name')?.touched
          "
        >
          <div *ngIf="contactForm.get('name')?.hasError('required')">
            Name is required.
          </div>
        </div>
      </div>
      <div class="form-item-container">
        <input type="email" formControlName="email" placeholder="Email" />
        <div
          class="error-tooltip"
          *ngIf="
            contactForm.get('email')?.invalid &&
            contactForm.get('email')?.touched
          "
        >
          <div *ngIf="contactForm.get('email')?.hasError('required')">
            Email is required.
          </div>
          <div *ngIf="contactForm.get('email')?.hasError('email')">
            Invalid email format.
          </div>
        </div>
      </div>
      <div class="form-item-container">
        <input type="text" formControlName="subject" placeholder="Subject" />
      </div>
      <div class="form-item-container">
        <textarea
          formControlName="message"
          rows="8"
          placeholder="Message"
        ></textarea>
        <div
          class="error-tooltip"
          *ngIf="
            contactForm.get('message')?.invalid &&
            contactForm.get('message')?.touched
          "
        >
          <div *ngIf="contactForm.get('message')?.hasError('required')">
            Message is required.
          </div>
        </div>
      </div>
      <div class="form-item-container">
        <button
          class="btn btn-effect"
          type="submit"
          [disabled]="contactForm.invalid || submitted"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</section>

<app-modal #modalRef>
  <ng-container *ngTemplateOutlet="modalContent"></ng-container>
</app-modal>

<ng-template #sorryTemplate>
  <div class="submit-modal-content">
    <h5>Sorry.</h5>
    <p>The message was not sent. Please try again next time</p>
    <button class="btn" (click)="closeModal()">Here</button>
  </div>
</ng-template>

<ng-template #thankYouTemplate>
  <div class="submit-modal-content">
    <h5>Thank You!</h5>
    <p>
      The message was sent. Your feedback will help shape me to become a better
      developer. Thanks!
    </p>
    <button class="btn" (click)="closeModal()">Here</button>
  </div>
</ng-template>

<ng-template #experienceTemplate>
  <div class="experience-modal-content">
    <div class="experience-modal-header">
      <h3>Project Name: SuiteView</h3>
      <span>
        <img
          class="icon icon-size-adjust"
          style="-webkit-tap-highlight-color: transparent"
          src="assets/close.png"
          alt="Close Logo"
          (click)="closeModal()"
          [ngStyle]="{
            filter: isDarkMode
              ? 'invert(100%) grayscale(100%)'
              : 'grayscale(100%)'
          }"
        />
      </span>
    </div>
    <ul class="experience-modal-body">
      <li class="experience-modal-body-title">Tech-Stack:</li>
      <li>
        <span class="tooltip" appTooltip="Angular">
          <img
            class="icon"
            src="assets/angular.svg"
            alt="Angular Logo"
            loading="lazy"
          /></span
        >
        <span class="tooltip" appTooltip="Laravel">
          <img
            class="icon"
            src="assets/laravel.svg"
            alt="Laravel Logo"
            loading="lazy"
          /></span
        >
        <span class="tooltip" appTooltip="Lumen">
          <img
            class="icon"
            src="assets/lumen.svg"
            alt="Lumen Logo"
            loading="lazy"
          /></span
        >
        <span class="tooltip" appTooltip="AWS S3 Bucket">
          <img
            class="icon"
            src="assets/aws-s3-bucket.svg"
            alt="AWS S3 Bucket Logo"
            loading="lazy"
        /></span>
      </li>
      <li class="experience-modal-body-title">Description:</li>
      <li>
        This project involved integrating a CCTV system, that takes a photo
        every minute and uploads it to an AWS S3 Bucket. The back-end, written
        in Laravel Lumen, fetches the data from the S3 Bucket. The front-end,
        written in Angular, gets the data from the back-end via API pull. This
        project was presented to the CEO and became an actual product.
      </li>
      <li class="experience-modal-body-title">Role/s:</li>
      <ul>
        <li>
          Front-End heavy, designing the web app basing from a mock web UI.
        </li>
        <li>Making the web UI responsive, user friendly.</li>
        <li>Connecting the FE to BE via API pull.</li>
      </ul>
    </ul>
  </div>
</ng-template>

<app-scroll-indicator></app-scroll-indicator>