---
import { parse } from 'node-html-parser'

const html = await Astro.slots.render('default')

const root = parse(html)

const panels = root.querySelectorAll('[data-tab-panel]')
---

<my-tabs class="w-full">
  <ul class="mb-4 flex border-b border-border">
    {
      panels.map((panel, i) => (
        <li class="flex-1">
          <button
            role="tab"
            aria-selected={i === 0 ? 'true' : 'false'}
            data-index={i}
            class="w-full cursor-pointer rounded-t-lg px-4 py-2 text-center text-sm font-medium text-foreground/60"
          >
            {panel.getAttribute('data-label')}
          </button>
        </li>
      ))
    }
  </ul>

  <div class="flex flex-col gap-6">
    <Fragment set:html={html} />
  </div>
</my-tabs>

<style is:global>
  @reference "../styles/global.css";

  [role='tab'][aria-selected='true'] {
    @apply border border-b-0 border-border bg-background text-foreground;
  }
</style>

<script is:inline>
  class MyTabs extends HTMLElement {
    constructor() {
      super()

      this.tabs = [...this.querySelectorAll('[role="tab"]')]
      this.panels = [...this.querySelectorAll('[data-tab-panel]')]

      this.panels.forEach((panel, i) => {
        panel.hidden = i !== 0
      })

      this.tabs.forEach((tab, i) => {
        tab.addEventListener('click', () => this.switchTab(i))
      })
    }

    switchTab(index) {
      this.tabs.forEach((tab) => tab.setAttribute('aria-selected', 'false'))
      this.panels.forEach((panel) => (panel.hidden = true))

      this.tabs[index].setAttribute('aria-selected', 'true')
      this.panels[index].hidden = false
    }
  }

  customElements.define('my-tabs', MyTabs)
</script>
