---
import { cn } from '../lib/utils';

type Props = {
  icon: string;
  name: string;
  highlighted?: boolean;
  lazy?: boolean;
};

const { icon, name, highlighted = false, lazy = false } = Astro.props;
---

<li>
  <div
    class="group border-border bg-card hover:border-foreground/20 flex aspect-[4/3] h-24 w-full flex-col items-center justify-center rounded-2xl border p-4 text-center transition duration-300 hover:brightness-110"
  >
    <img
      src={icon}
      alt={name + ' logo'}
      class={cn(
        'mb-2 h-8 w-8 transition-transform duration-300 group-hover:-translate-y-1',
        highlighted && 'bg-foreground rounded-full border-1 border-foreground',
      )}
      {...lazy ? { loading: 'lazy' } : {}}
    />
    <p class="text-sm font-medium">{name}</p>
  </div>
</li>
