.progress {
  position: fixed;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.progress ul {
  list-style: none;
  height: 300px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  position: relative;
}

.progress li {
  display: block;
  height: 10px;
  width: 10px;
  outline: 1px solid var(--text-color);
  background: transparent;
  transform: rotate(45deg);
  position: relative;
  z-index: 1;
}

.progress li.active {
  outline: 1px solid var(--main-color);
  height: 20px;
  width: 20px;
}

.line {
  position: absolute;
  width: 1px;
  background: var(--text-color);
}

@media (max-width: 991px) {
  .progress,
  .line {
    display: none;
  }
}