/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
	scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #fea1a1;
    --primary-color: #fff;
    --secondary-color: #f2f2f2;
    --text-color: #000000;
    --text-color-reverse: #FFFFFF;
    --hero-img: url('assets/images/backgrounds/me.webp');
    --about-img: url('assets/images/backgrounds/about-day.png');

    --font-size-big-desktop: 3.2rem; 
    --font-size-regular-desktop: 1.6rem; 
    --font-size-tooltip-desktop: 1rem; 
    --icon-size-adjust-desktop: 2rem;
    
    --font-size-big-tablet: 2.7rem; 
    --font-size-regular-tablet: 1.4rem; 
    --font-size-tooltip-tablet: 0.9rem; 
    --icon-size-adjust-tablet: 1.8rem;
    
    --font-size-big-mobile: 2.2rem; 
    --font-size-regular-mobile: 1.2rem;
    --font-size-tooltip-mobile: 0.8rem;
    --icon-size-adjust-mobile: 1.6rem;

    --font-size-big-small-mobile: 2rem;
    --font-size-regular-small-mobile: 1rem;
    --font-size-tooltip-small-mobile: 0.7rem;
    --icon-size-adjust-small-mobile: 1.4rem;

    --image-width-desktop: 21rem;
    --image-height-desktop: 34rem;

    --image-width-small-mobile: 17rem;
    --image-height-small-mobile: 27rem;
}

.dark-theme {
    --primary-color: #202124;
    --secondary-color: #171717;
    --text-color: #FFFFFF;
    --text-color-reverse: #000000;
    --about-img: url('assets/images/backgrounds/about-night.png');
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--secondary-color);    
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 100vh;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body {
    background-color: var(--primary-color);
}