<div class="home-content hidden from-left">
  <h2>Hi, I'm Nathan</h2>
  <h2 class="type-effect-text">
    And I'm a
    <span appHighlightText
      ><h2 class="type-effect-text" id="type-effect">
        {{ typeEffect | async }}
      </h2></span
    >
  </h2>
  <p>
    A MEAN stack developer fueled by my passion for coding. Let's
    turn ideas into reality together!
  </p>
  <a href="assets/pdfs/resume.pdf" class="btn btn-effect" download
    >Download Résumé</a
  >
</div>
<app-home-hero-image />
