:host {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

:host > *:nth-child(1) {
  flex: 1 1 70%;
}

:host > *:nth-child(2) {
  flex: 1 1 30%;
}

.home-content .type-effect-text {
  font-size: calc(var(--font-size-big-desktop) - 0.5rem);
}

.home-content a {
  display: inline-block;
  padding: 1rem 2rem;
  font-weight: 600;
  margin-top: 1rem;
}

#type-effect {
  display: inline;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  overflow: hidden;
  border-right: 3px solid var(--text-color);
}

.type-effect-text {
  display: inline-block;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 991px) {
  .home-content .type-effect-text {
    font-size: calc(var(--font-size-big-tablet) - 0.5rem);
  }
}

@media (max-width: 768px) {
  :host {
    flex-direction: column-reverse;
  }

  :host > *:nth-child(1),
  :host > *:nth-child(2) {
    flex: none;
  }

  .home-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .home-content .type-effect-text {
    font-size: calc(var(--font-size-big-mobile) - 0.5rem);
  }
}

@media (max-width: 500px) {
  .home-content .type-effect-text {
    font-size: calc(var(--font-size-big-small-mobile) - 0.55rem);
  }
}
