.tabs {
  position: relative;
  display: flex;
  list-style: none;
  padding: 0.5rem;
}

.tab-links {
  font-size: var(--font-size-regular-desktop);
  padding: 0.5rem;
  cursor: pointer;
}

.tab-line {
  position: absolute;
  height: 5px;
  background-color: var(--main-color);
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 991px) {
  .tab-links {
    font-size: var(--font-size-regular-tablet);
  }
}

@media (max-width: 768px) {
  .tabs {
    justify-content: center;
  }
  .tab-links {
    font-size: var(--font-size-regular-mobile);
  }
}
@media (max-width: 500px) {
  .tab-links {
    font-size: var(--font-size-regular-small-mobile);
  }
}
