<ul class="tabs">
  @for (tab of tabs(); track $index) {
    <li
      #tabLinks
      class="tab-links"
      [ngClass]="activeTabIndex() === $index ? 'active' : ''"
      (click)="activeTabIndex.set($index)"
      (keydown.Enter)="activeTabIndex.set($index)"
      tabindex="0"
    >
      <p>{{ tab.title() }}</p>
    </li>
  }
  <li
    class="tab-line"
    [style.width]="linePosition()?.width"
    [style.left]="linePosition()?.left"
    [style.top]="linePosition()?.top"
  ></li>
</ul>
<ng-container [ngTemplateOutlet]="selectedTabTpl()" />
