<ul class="tabs">
  @for (tab of tabs(); track $index) {
    <li
      #tabLinks
      class="tab-links"
      [ngClass]="activeTabId()?.tab === tab.title() ? 'active' : ''"
      (click)="setTab(tab.title(), $index)"
      (keydown.Enter)="setTab(tab.title(), $index)"
      tabindex="0"
    >
      <p>{{ tab.title() }}</p>
    </li>
  }
  <li
    #line
    class="tab-line"
    [style.width]="linePosition().width"
    [style.left]="linePosition().left"
    [style.top]="linePosition().top"
  ></li>
</ul>
<ng-container [ngTemplateOutlet]="selectedTabTpl()" />
