:host {
  position: relative;
  width: 95vw;
  max-width: 400px;
  padding: 2rem;
  text-align: center;
  font-size: var(--font-size-regular-desktop);
}

:host img {
  width: 6rem;
  margin-top: -50%;
}

:host h5 {
  padding: 1rem;
}

:host p {
  margin-bottom: 1rem;
}

:host button {
  width: 100%;
  padding: 1rem;
}